.session-grid-header-cell {
  display: inline-block;
  width: 4.1667%;
}

.session-grid-header-cell.current-hour {
  background-color: #b3e5fc;
}

.dark-mode {
  .session-grid-header-cell.current-hour {
    background-color: rgb(4, 65, 93);
  }
}
