.session-grid-row {
  display: flex;
  position: relative;

  .session-name {
    color: #757575;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.dark-mode {
  .session-grid-row {
    .session-name {
      color: rgb(190, 185, 175);
    }
  }
}
